
#box{
   /* content: ""; */
   clear: both;
   display: table;
}
#DataBox{
   float: left;
   /* width: 24.4%; */
   width: 480px;
   padding: 5px;

   border: 2px solid black;
   border-radius: 5px;
   margin: 5px;
   text-align: center;
}
#DataBox:hover{
   border: 2px solid rgb(25, 37, 146);
   box-shadow: 2px 2px rgb(110, 88, 88);
}

* {
   box-sizing: border-box;
 }
 

 #chart,#columnchart_values{
    text-align: center;
    background-color: black;
 }


 
/* input:invalid {
   border: 2px dashed red;
 }
 
 /* input:invalid:required {
   background-image: linear-gradient(to right, pink, lightgreen);
 }
  */
 /* input:valid {
   border: 2px solid black;
 }  */
